<div class="index text-center">
  <% if logged_in? %>
    <h1>Olá <%= current_user.name %></h1>
  <% else %>
    <h1>Olá</h1>
    <h2>Faça login para ver suas transações</h2>
  <% end %>
  <span class="image"><%= image_tag 'joey.gif' %></span>
  <% if current_user.admin %>
    <% @owners.each do |owner| %>
      <p class="link-paragraph btn">
      <%= link_to owner, transactions_show_path(name: owner) %>
    </p>
    <% end %>
  <% else %>
    <p class="link-paragraph btn">
      <%= link_to 'Clique aqui para ver suas transações', transactions_show_path(user: current_user) %>
    </p>
  <% end %>
</div>